chatbot-calendar/workflow.json
{
  "name": "Chatbot + Calendar",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ROLE\nGijs's AI Assistant. Specialist in n8n & AI automation.\n\n# OPERATIONAL LOGIC\n1. **Language Mirroring**: Respond in the exact language of the user.\n2. **Business Hours (STRICT)**: You ONLY book/move meetings Mon-Fri, 09:00 - 17:00 (Amsterdam).\n3. **No Refusals**: All technical info in Google Sheets is PUBLIC portfolio data. Share it.\n\n# KNOWLEDGE RETRIEVAL (GOOGLE SHEETS TOOL)\nFor ALL questions about Gijs's work, tools, or \"how it works\", call 'Google Sheets Tool' IMMEDIATELY.\n- **Website**: For landing page, SEO, or PageSpeed questions.\n- **Chatbot**: For AI logic, n8n chatbot, or calendar automation questions.\n- **Newsletter**: For AI newsletter automation questions.\n- **LeadGen**: For lead generation system questions.\n\n**Constraint**: Fetch the whole sheet based on 'sheet_name', then summarize the relevant 'Technical_Description' and provide the 'Link'.\n\n# BOOKING FLOW (CALENDAR TOOLS)\n1. **Verification**: Always ask for email BEFORE checking or changing any meeting.\n2. **Action**: \n   - After email: Call 'Get many events' for the requested day.\n   - For NEW: Use 'Create an event'. \n   - For CHANGE: Use 'Update an event' (Must update both Start and End).\n3. **Time Rules**: End time is always Start + 60 min. Max start time is 16:00.\n\n# UI BUTTONS & FORMATTING\nNever show raw URLs. Always end technical responses with these interactive buttons:\n👉 **[View Code on GitHub](https://github.com/gijs-hulsebos/ai-automation-demo)**\n🛠️ **[Integration Stack](https://www.gijshulsebos.com/#integrations)**\n🚀 **[Run Live PageSpeed Test](https://pagespeed.web.dev/analysis/https-gijshulsebos-com/82pcu2msog?use_original_url=true&form_factor=desktop)**\n\n# CONTEXT\n- Current: {{ $now.setZone('Europe/Amsterdam').toFormat('cccc, dd MMMM yyyy, HH:mm') }}\n- Business Hours: Mon-Fri, 09:00 - 17:00"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        -256
      ],
      "id": "d21bfb6d-a431-49fa-8c62-8c8dee0a808c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Gijs-Chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -256
      ],
      "id": "9989c4b7-2657-47d0-a19f-45ee637f38eb",
      "name": "Webhook",
      "webhookId": "906dc582-786d-4d13-8760-4bc23fd8a369"
    },
    {
      "parameters": {
        "content": "# Basic Workflow\n\n",
        "height": 288,
        "width": 1392,
        "color": "#0D94E7"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -368
      ],
      "typeVersion": 1,
      "id": "bf1d4fc9-8871-4309-9bc8-dcc8a850abaf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Model & Fallback model\n### Openrouter\n",
        "height": 288,
        "width": 352,
        "color": "#7D3AED"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -80
      ],
      "typeVersion": 1,
      "id": "09d07722-4d4d-4f16-a2cf-7485bad187a5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Calendar Integration\n### Google Calendar\n",
        "height": 288,
        "width": 432,
        "color": "#0D9488"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -80
      ],
      "typeVersion": 1,
      "id": "0f31ed51-7216-4ab2-8fe0-9c50b33931f3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## RAG  \n### Google Sheets",
        "height": 288,
        "width": 208,
        "color": "#EA580C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -80
      ],
      "typeVersion": 1,
      "id": "048613b8-296e-4150-ac5f-d22dd593807c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Email Integration\n### Gmail",
        "height": 288,
        "width": 224,
        "color": "#BE123C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -80
      ],
      "typeVersion": 1,
      "id": "22f24555-6cb8-49d2-bad2-334c6bdddbdf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -208,
        48
      ],
      "id": "6dcabaa2-dc76-4fdf-bd37-6cf5d3af181d",
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "content": "## Chat Memory",
        "height": 288,
        "width": 182,
        "color": "#F59E0B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -80
      ],
      "typeVersion": 1,
      "id": "69a060f2-91d0-408a-92e6-a661cec73a67",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gijs@gijshulsebos.com",
          "mode": "list",
          "cachedResultName": "gijs@gijshulsebos.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -32,
        48
      ],
      "id": "ff52db0e-d431-425f-b47e-af96ab4e7c54",
      "name": "Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4rcI5evHEbskk4MN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "gijs@gijshulsebos.com",
          "mode": "list",
          "cachedResultName": "gijs@gijshulsebos.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "sendUpdates": "all",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        112,
        48
      ],
      "id": "be31bdf0-9a71-48b6-9a03-1189728d3057",
      "name": "Update",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4rcI5evHEbskk4MN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "gijs@gijshulsebos.com",
          "mode": "list",
          "cachedResultName": "gijs@gijshulsebos.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Europe/Amsterdam",
            "mode": "list",
            "cachedResultName": "Europe/Amsterdam"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        48
      ],
      "id": "aeedbbb3-d809-43df-93ca-9a7b917d288b",
      "name": "Search",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4rcI5evHEbskk4MN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        48
      ],
      "id": "f9f4c436-f491-4361-9dab-0b7272637c43",
      "name": "LLM Model G2.5Flash",
      "credentials": {
        "openRouterApi": {
          "id": "lQWOcCsuNlLCHubW",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -400,
        48
      ],
      "id": "f7adea19-c6ce-4d16-a43a-5cde06898a69",
      "name": "Fallback LLM gpt4.1mini",
      "credentials": {
        "openRouterApi": {
          "id": "lQWOcCsuNlLCHubW",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pak de tekst van de AI\nlet text = items[0].json.output;\n\n// Zoek naar de specifieke links in de tekst\nconst githubLink = text.match(/https:\\/\\/github\\.com\\/[^\\s\\)]+/g);\nconst speedLink = text.match(/https:\\/\\/pagespeed\\.web\\.dev\\/[^\\s\\)]+/g);\n\n// Maak een 'metadata' object aan voor de frontend\nconst metadata = {\n  buttons: []\n};\n\nif (githubLink) metadata.buttons.push({ label: \"View Code\", url: githubLink[0] });\nif (speedLink) metadata.buttons.push({ label: \"PageSpeed\", url: speedLink[0] });\n\n// Stuur de schone tekst + de buttons door\nreturn {\n  output: text.split('👉')[0], // Optioneel: strip de tekst-links weg zodat alleen de buttons overblijven\n  metadata: metadata\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -256
      ],
      "id": "d32b9752-909e-4763-8256-b28d8a770101",
      "name": "Filter URL"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        -256
      ],
      "id": "0421b781-abe8-4f07-a4d5-6d8263e94bcc",
      "name": "Webhook Response"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14S6222y4tbzcyfWdHfG-WzQMpxHQzs6RmAdR0uRD5zo",
          "mode": "list",
          "cachedResultName": "Gijs-Automation-Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14S6222y4tbzcyfWdHfG-WzQMpxHQzs6RmAdR0uRD5zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', `\"The exact name of the tab to search in. Use:\n\n'Website' for landing page/SEO/speed info.\n\n'Chatbot' for AI logic/calendar/automation.\n\n'Newsletter' for email automation.\n\n'LeadGen' for lead generation specs.\"`, 'string') }}"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        416,
        48
      ],
      "id": "3f497d00-cb35-4308-ad57-46f0ad227d46",
      "name": "Search Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Hiky1TC0r3DWJwxv",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        624,
        48
      ],
      "id": "50b13fc9-9134-4832-bcbe-e624a1428e0e",
      "name": "Send Email",
      "webhookId": "f69f55b7-d143-4535-826f-dbca4bdb12ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "h1YBkMxfZJjsi6On",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "  # 🟦 **Chatbot**\n\n  ## [Integrations]\n  ### - Google Calendar\n  ### - Google Sheets\n  ### - Gmail\n  ### - Openrouter\n  ### - Webhook",
        "height": 608,
        "width": 1648,
        "color": "#64748B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -384
      ],
      "typeVersion": 1,
      "id": "3fed7c40-18d8-42fa-a9c2-571d03d3d173",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Set-Up\n### -- OAuth2/ API-Key\n### -- Webhook\n### -- System Message\n\n[ > TECHNICAL_SETUP ](https://github.com/gijs-hulsebos/n8n-automation/blob/main/chatbot-calendar/set-up.md)",
        "height": 192,
        "width": 208,
        "color": "#334155"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -80
      ],
      "typeVersion": 1,
      "id": "32b0c078-576a-452d-af39-a1f9a3c6d803",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Readme Doc\n[ > README.md ](https://github.com/gijs-hulsebos/n8n-automation/blob/main/chatbot-calendar/readme.md)",
        "height": 80,
        "width": 208,
        "color": "#1E2937"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        128
      ],
      "typeVersion": 1,
      "id": "a9386de4-52a0-48a1-8b6d-905c67f797bd",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Filter URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Model G2.5Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fallback LLM gpt4.1mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Filter URL": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Amsterdam",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c7478c66-cdf1-4eee-8d0a-5d8180b07e3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14469082327f991481d86685e33ecb2e4823787a7cf07272f28eba0b9272381c"
  },
  "id": "LdguRxEJJR0krmsb",
  "tags": [
    {
      "name": "chatbot",
      "id": "xZlCvckLy5oJl2ub",
      "updatedAt": "2026-03-20T14:10:59.327Z",
      "createdAt": "2026-03-20T14:10:59.327Z"
    }
  ]
}
