chatbot-calendar/workflow.json
{
  "name": "Chatbot + Calendar",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# IDENTITY\nRole: Gijs's AI Assistant.\nAbout Gijs: Gijs Hulsebos is an automation specialist who helps businesses scale using AI and n8n. \n\n# CONVERSATION LOGIC (PRIORITY)\n1. **Language Mirroring**: You MUST always respond in the exact same language the user uses. If they speak Dutch, you speak Dutch. If they speak English, you speak English.\n2. **Privacy First (Email Rule)**: If a user asks to see, change, or cancel an existing meeting, you MUST ask for their email address FIRST. Do NOT search for or confirm meeting details until you have their email.\n3. **Intent Prioritization**: Prioritize the user's last request. If they talk about a meeting, skip the \"Who is Gijs\" introduction.\n\n# BOOKING & UPDATE FLOW (STRICT ORDER)\n1. **Verification**: If the intent is related to a meeting (new or existing), ask for their email address immediately in the user's language.\n2. **Identification**: Once you have the email, you MUST use 'Get many events' for the requested day. Do NOT just say you will do it; execute the tool call immediately.\n3. **Handle Conflicts**: If a slot is taken or outside Business Hours, suggest 2 alternatives (Mon-Fri, 09:00 - 17:00).\n4. **Action**: \n   - For NEW: Use 'Create an event'.\n   - For CHANGE: Use 'Update an event' (You MUST update both 'Start' and 'End' fields).\n5. **Details**: Always include topics (e.g., \"lead generation\") in the 'Description' field.\n\n# AVAILABLE TOOLS\n1. 'Get many events': Use to check availability or find bookings.\n2. 'Create an event': Use for NEW bookings.\n3. 'Update an event': Use to change time (Start & End), date, or description.\n\n# STRICT RULES\n- **Business Hours**: Only book or move meetings between Monday and Friday, 09:00 - 17:00.\n- Keep replies concise but ALWAYS finish your sentences.\n- **End time**: Must always be exactly 60 minutes after the Start time.\n- Year: 2026. Timezone: Europe/Amsterdam.\n- **No Ghost-Actions**: Never say \"I will check\" without actually triggering the 'Get many events' tool in the same response.\n\n# CONTEXT\n- Current Date: {{ $now.setZone('Europe/Amsterdam').toFormat('cccc, dd MMMM yyyy') }}\n- Current Time: {{ $now.setZone('Europe/Amsterdam').toFormat('HH:mm') }}\n- Business Hours: Mon-Fri, 09:00 - 17:00"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        -48
      ],
      "id": "d21bfb6d-a431-49fa-8c62-8c8dee0a808c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -592,
        112
      ],
      "id": "f9f4c436-f491-4361-9dab-0b7272637c43",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lQWOcCsuNlLCHubW",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gijs@gijshulsebos.com",
          "mode": "list",
          "cachedResultName": "gijs@gijshulsebos.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -32,
        208
      ],
      "id": "ff52db0e-d431-425f-b47e-af96ab4e7c54",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4rcI5evHEbskk4MN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "gijs@gijshulsebos.com",
          "mode": "list",
          "cachedResultName": "gijs@gijshulsebos.com"
        },
        "returnAll": true,
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Europe/Amsterdam",
            "mode": "list",
            "cachedResultName": "Europe/Amsterdam"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "aeedbbb3-d809-43df-93ca-9a7b917d288b",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4rcI5evHEbskk4MN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        208
      ],
      "id": "6dcabaa2-dc76-4fdf-bd37-6cf5d3af181d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        448,
        208
      ],
      "id": "50b13fc9-9134-4832-bcbe-e624a1428e0e",
      "name": "Send a message in Gmail",
      "webhookId": "f69f55b7-d143-4535-826f-dbca4bdb12ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "h1YBkMxfZJjsi6On",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "gijs@gijshulsebos.com",
          "mode": "list",
          "cachedResultName": "gijs@gijshulsebos.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "sendUpdates": "all",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        128,
        208
      ],
      "id": "be31bdf0-9a71-48b6-9a03-1189728d3057",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4rcI5evHEbskk4MN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Gijs-Chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -160
      ],
      "id": "9989c4b7-2657-47d0-a19f-45ee637f38eb",
      "name": "Webhook",
      "webhookId": "906dc582-786d-4d13-8760-4bc23fd8a369"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        -160
      ],
      "id": "0421b781-abe8-4f07-a4d5-6d8263e94bcc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -384,
        112
      ],
      "id": "f7adea19-c6ce-4d16-a43a-5cde06898a69",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "lQWOcCsuNlLCHubW",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Amsterdam",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "9bf2849e-eb43-4f6d-aa60-442cbfb43ba4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14469082327f991481d86685e33ecb2e4823787a7cf07272f28eba0b9272381c"
  },
  "id": "LdguRxEJJR0krmsb",
  "tags": []
}
