Insurance-Demo/Insurance demo (5).json
{
  "name": "Insurance demo",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=### INCIDENT DATA ###\nTimestamp: {{ $json.internal_tracking.timestamp }}\nCategory: {{ $json.ai_agent_payload.incident_type }}\nDescription: {{ $json.ai_agent_payload.description }}\n\n### INSTRUCTION ###\nAnalyze the attached image and the data above. Populate the JSON schema now.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "ROLE: Senior Technical Insurance Adjuster & Fraud Prevention Specialist.\n\nTASK: Perform a high-fidelity visual and textual damage assessment.\n\nHIGH RISK: High risk/ fatal/ extreme damage should be categorised as \"urgency_level\" \"3\" \n\nGATEKEEPER LOGIC: > - Rejected: If the input is nonsense (e.g., \"I want money\"), unrelated to a vehicle collision, or lacks a descriptive context.\n\nApproved: If the input contains a valid description of vehicle damage with or without supporting imagery.\n\nMANDATORY OUTPUT: Return ONLY a single flat JSON object.\n\nSTRICT NEGATIVE CONSTRAINTS: > - DO NOT use a \"name\", \"type\", or \"description\" key structure.\n\nDO NOT wrap the response in an \"output\" array.\n\nDO NOT provide conversational filler or markdown backticks.\n\nREQUIRED JSON KEYS:\n{\n\"application_status\": \"Approved or Rejected only\",\n\"application_status_reason\": \"Specific technical reason for approval or rejection\",\n\"urgency_level\": \"1, 2, or 3 only\",\n\"urgency_reasoning\": \"Technical justification\",\n\"confidence_score\": \"0-100\",\n\"confidence_reasoning\": \"Reason for score\",\n\"escalation_required\": \"Yes/No\",\n\"escalation_reasoning\": \"Technical criteria for escalation\",\n\"technical_summary\": \"In-depth component damage report\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        240
      ],
      "id": "9ad34df9-e471-432c-880c-f907a683d7fc",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d7c96957-0b16-41b5-8084-dc0bd128301c",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -48
      ],
      "id": "650c24b6-3475-4ade-a78e-d4bb2252a697",
      "name": "Insurance Demo",
      "webhookId": "d7c96957-0b16-41b5-8084-dc0bd128301c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0eJZh7kAcKy0XCEr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"internal_tracking\": {\n    \"project\": \"Insurance Demo\",\n    \"claim_id\": \"={{ $json.body.policyNumber }}-{{ $now.toFormat('yyyyMMdd') }}\",\n    \"timestamp\": \"={{ $now }}\"\n  },\n  \"pii_vault\": {\n    \"policy_number\": \"={{ $json.body.policyNumber }}\",\n    \"user_email\": \"={{ $json.body.email }}\" \n  },\n  \"ai_agent_payload\": {\n    \"incident_type\": \"={{ $json.body.incidentType }}\",\n    \"description\": \"={{ $json.body.incidentDescription }}\",\n    \"attachment_data\": \"={{ $json.body.image }}\"\n  },\n  \"compliance_meta\": {\n    \"gdpr_anonymized\": true,\n    \"framework\": \"Insurance Demo Pipeline\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -48
      ],
      "id": "e90fdc67-03e1-4fbf-9d08-5039184152d2",
      "name": "Data Structure"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adab577e-302f-49f2-8e1a-4981caded058",
              "name": "claim_id",
              "value": "={{ $json.claim_id }}",
              "type": "string"
            },
            {
              "id": "82df9acc-93bb-4fb6-b906-b4edb7dd6bf4",
              "name": "user_email",
              "value": "={{ $json.user_email }}",
              "type": "string"
            },
            {
              "id": "1d886009-1620-4896-9a6c-40f460fa52ad",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "5c69276b-7c85-4b04-aa97-2c1a23e61998",
              "name": "policy_number",
              "value": "={{ $json.policy_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -48
      ],
      "id": "584cf01f-d088-4145-a95f-127c0c24a280",
      "name": "GDPR"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"application_status\": \"Approved\",\n  \"application_status_reason\": \"Valid claim description provided with clear imagery of front-end damage.\",\n  \"urgency_level\": \"1\",\n  \"urgency_reasoning\": \"Minor cosmetic damage observed.\",\n  \"confidence_score\": \"95\",\n  \"confidence_reasoning\": \"High-res image confirms strike point.\",\n  \"escalation_required\": \"no\",\n  \"escalation_reasoning\": \"Damage is surface-level paint only.\",\n  \"technical_summary\": \"3mm paint chip on the leading edge of the hood.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        496
      ],
      "id": "b4b26c09-6331-4b06-b9a4-c2c22fd1571c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        -32
      ],
      "id": "956096d7-ad9b-4f39-8ceb-4d5d0983d417",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "gijs@gijshulsebos.com",
        "subject": "=Manual Review of {{ $json.policy_number }}",
        "emailType": "text",
        "message": "=### ⚠️ HIGH-RISK CLAIM ESCALATION ###\n\nA new claim requires immediate adjuster intervention based on AI triage results.\n\n**CLAIM OVERVIEW**\n- Claim ID: {{ $('GDPR').item.json.claim_id }}\n- Policy Number: {{ $json.policy_number }}\n- Customer Email: {{ $('GDPR').item.json.user_email }}\n\n**AI ANALYSIS**\n- Urgency Level: {{ $('Merge').item.json.output.urgency_level }}\n- Confidence Score: {{ $('Merge').item.json.output.confidence_score }}\n\n**TECHNICAL SUMMARY**\n{{ $('Merge').item.json.output.technical_summary }}\n\n**NEXT STEPS / RECOMMENDATION**\nEscalation: {{ $('Merge').item.json.output.escalation_required }}\n{{ $('Merge').item.json.output.escalation_reasoning }}\n\n---\nGenerated by: Insurance Demo Execution Layer v1.0\nAudit Log archived in Google Drive.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2288,
        -416
      ],
      "id": "f3a86dac-1c02-4028-9bc1-ec91bb86cb93",
      "name": "Manual Review",
      "webhookId": "afebf6e2-dbcc-455d-93aa-5c259f0edaf5",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ha8zTBClT3z7aBDZ",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('GDPR').item.json.user_email }}",
        "subject": "=Update: Your insurance claim {{ $json.policy_number }} is under manual review",
        "message": "=<h3>Claim Receipt Confirmation:</h3>{{ $('GDPR').item.json.claim_id }}  <p>Dear Customer,</p>  <p>Thank you for submitting your claim via the <strong>Insurance Demo</strong> portal. We have successfully received your report and the accompanying documentation.</p>  <p>Based on our initial automated triage, your file has been forwarded for a <strong>manual review</strong> by one of our senior claims experts. We do this to ensure the highest level of accuracy and personalized care in the processing of your claim.</p>  <p><strong>What to expect next?</strong><br> Our expert is currently reviewing your photos and the incident description. No further action is required from you at this time. We aim to contact you regarding the next steps within 24 to 48 hours.</p>  <p>Best regards,<br> <strong>The Insurance Demo Team</strong></p>  <hr> <small>This is an automated message from the Insurance Demo Triage Execution Layer.</small>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2288,
        -128
      ],
      "id": "004767c2-d1a3-479d-96fc-c6731cc22322",
      "name": "Update Client",
      "webhookId": "e8147dd7-24f0-4cc9-9218-4aa29335ef6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ha8zTBClT3z7aBDZ",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"Manual Review_Required\",\n  \"urgency_label\": \"{{ $json.urgency_level }}\",\n  \"confidence\": \"{{ $json.confidence_score }}\",\n  \"assessment\": \"{{ $json.escalation_reasoning }}\",\n  \"next_step\": \"A senior adjuster has been notified. Expected contact within 24 hours.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2288,
        -256
      ],
      "id": "5be53478-d577-4dcd-9b33-50ce828e41a4",
      "name": "Update Website portal"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"completed\",\n  \"policy_number\": {{ JSON.stringify($json.policy_number) }},\n  \"urgency_level\": {{ JSON.stringify($json.urgency_level) }},\n  \"urgency_reasoning\": {{ JSON.stringify($json.urgency_reasoning) }},\n  \"confidence_score\": {{ JSON.stringify($json.confidence_score) }},\n  \"technical_summary\": {{ JSON.stringify($json.technical_summary) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2288,
        288
      ],
      "id": "8d3efe0b-a7e6-47cd-8228-4273ea8f621a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg",
          "mode": "list",
          "cachedResultName": "Insurance Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Overview",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "policy_number": "={{ $('Create Row with New Submission').item.json.policy_number }}",
            "urgency_level": "={{ $json.output.urgency_level }}",
            "urgency_reasoning": "={{ $json.output.urgency_reasoning }}",
            "confidence_score": "={{ $json.output.confidence_score }}",
            "technical_summary": "={{ $json.output.technical_summary }}",
            "escalation_required": "={{ $json.output.escalation_required }}",
            "escalation_reasoning": "={{ $json.output.escalation_reasoning }}"
          },
          "matchingColumns": [
            "policy_number"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "policy_number",
              "displayName": "policy_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "claim_id",
              "displayName": "claim_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_email",
              "displayName": "user_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency_level",
              "displayName": "urgency_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency_reasoning",
              "displayName": "urgency_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "technical_summary",
              "displayName": "technical_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "escalation_required",
              "displayName": "escalation_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "escalation_reasoning",
              "displayName": "escalation_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approval",
              "displayName": "approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        -32
      ],
      "id": "1273189d-c99c-40e2-b165-ffdd5303ab0d",
      "name": "Add PII",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aAfp3HJhI2j06ZGZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "gijs@gijshulsebos.com",
        "subject": "Approval",
        "message": "=<h3>Nieuwe Claim Ter Review: {{ $json.policy_number }}</h3>\n<p><strong>Urgency:</strong> {{ $json.urgency_level }}</p>\n<p><strong>Technische Samenvatting:</strong> {{ $json.technical_summary }}</p>\n<p><strong>Reden voor review:</strong> {{ $json.urgency_reasoning }}</p>\n<hr>\n<p>Klik op een van de onderstaande knoppen om de claim af te handelen.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2288,
        64
      ],
      "id": "6381f54e-a0c6-4d0f-96a1-933a3226735c",
      "name": "Human in the Loop Approval",
      "webhookId": "a53aeef0-7d9b-4548-8b7f-76a6f9d5bcba",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ha8zTBClT3z7aBDZ",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg",
          "mode": "list",
          "cachedResultName": "Insurance Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Overview",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "policy_number": "={{ $('Create Row with New Submission').item.json.policy_number }}",
            "approval": "={{ $json.data.approved ? 'approved' : 'rejected' }}"
          },
          "matchingColumns": [
            "policy_number"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "policy_number",
              "displayName": "policy_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "claim_id",
              "displayName": "claim_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_email",
              "displayName": "user_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency_level",
              "displayName": "urgency_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency_reasoning",
              "displayName": "urgency_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "technical_summary",
              "displayName": "technical_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "escalation_required",
              "displayName": "escalation_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "escalation_reasoning",
              "displayName": "escalation_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approval",
              "displayName": "approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2704,
        64
      ],
      "id": "e467def5-89f0-43da-b3ae-558cc28de729",
      "name": "Approval Update",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aAfp3HJhI2j06ZGZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('GDPR').item.json.user_email }}",
        "subject": "=Claim Approved -  {{ $('GDPR').item.json.policy_number }}",
        "message": "=<p>Dear Customer,</p> <p>Great news! Your insurance claim with reference <strong>{{ $('GDPR').item.json.policy_number }}</strong> has been successfully reviewed and approved.</p> <p><strong>Claim Details:</strong><br> Policy Number: {{ $json.policy_number }}<br> Submission Date:{{ $('GDPR').item.json.timestamp }} </p> <p>Our team will handle the next steps immediately. You do not need to take any further action at this time.</p> <p>Best regards,<br> The AI Claims Processing Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2976,
        64
      ],
      "id": "d414fc30-7666-49b9-93f3-93b4d60bff1b",
      "name": "Client Approval Update",
      "webhookId": "39bd7268-828c-4ba4-951d-f2df6d53dabb",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ha8zTBClT3z7aBDZ",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('GDPR').item.json.user_email }}",
        "subject": "=Claim  {{ $('Create Row with New Submission').item.json.policy_number }} is subject to approval",
        "message": "=Hello, Your claim  {{ $('Create Row with New Submission').item.json.policy_number }} is under approval of our team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2288,
        480
      ],
      "id": "709d4a0b-44ab-4a0f-9558-fef7a0f7a79f",
      "name": "Update Client1",
      "webhookId": "cf690dd9-c40b-43b2-8f4f-a53b317e221a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ha8zTBClT3z7aBDZ",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e7ecdf0-2461-4ade-a5f5-02a3644993e7",
              "leftValue": "={{ $json.confidence_score }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "cdf7e801-9d02-43ab-bf3e-4583ca93cc58",
              "leftValue": "={{ $json.urgency_level }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1920,
        -32
      ],
      "id": "1b8e643a-ddbd-4725-b644-132dd180f827",
      "name": "Human Review?"
    },
    {
      "parameters": {
        "content": " # Insurance Demo\n## [**View GitHub Repository**](https://github.com/gijs-hulsebos/n8n-automation/tree/main/Insurance-Demo)\n## [**View Live Website**](https://insurance-demo-website-and-backend.vercel.app/)",
        "height": 1728,
        "width": 4128,
        "color": "#3F4B5A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -896
      ],
      "typeVersion": 1,
      "id": "a4253c9f-e1ff-4853-a359-a617952024b8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 1328,
        "width": 336,
        "color": "#1E3A8A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -640
      ],
      "typeVersion": 1,
      "id": "b7d34c96-01a2-49f6-8bad-cb5b0113ce3d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 1328,
        "width": 336,
        "color": "#0284C7"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -640
      ],
      "typeVersion": 1,
      "id": "8279cc6e-1e38-439a-9a5b-5bc758a40a35",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 1328,
        "width": 336,
        "color": "#0D9488"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -640
      ],
      "typeVersion": 1,
      "id": "5d782895-84f0-4254-9b00-76ddca1dfa5c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 1328,
        "width": 544,
        "color": "#581C87"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -640
      ],
      "typeVersion": 1,
      "id": "aec2431b-9699-420c-9435-70fd7bfd4253",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 960,
        "width": 336,
        "color": "#075985"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -640
      ],
      "typeVersion": 1,
      "id": "d3252f13-5de4-4b70-ad8d-a9d0cf07344b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 816,
        "width": 336,
        "color": "#A17B00"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -640
      ],
      "typeVersion": 1,
      "id": "ec9f6004-cfb7-43cc-880e-24109067043b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 1328,
        "width": 336,
        "color": "#115E59"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        -640
      ],
      "typeVersion": 1,
      "id": "02bf4c98-33a7-47f9-9f1d-916a1842369c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 336,
        "color": "#991B1B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        -640
      ],
      "typeVersion": 1,
      "id": "1179c977-757b-4ad9-bd2b-c742bb207834",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 336,
        "color": "#4F46E5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        -640
      ],
      "typeVersion": 1,
      "id": "d3682c12-d6b4-4128-9fae-61996ee4ba8e",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 336,
        "color": "#16A34A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        32
      ],
      "typeVersion": 1,
      "id": "2d8e8747-a9f9-4e84-bb3b-1f2a03bb1b2a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Integrations\n\n### - 📊 **Google Sheets** (PII Vault)\n### - 📧 **Gmail** (Client & Internal)\n### - 🤖 **AI Agent** (Gemini/GPT-4o)\n### - 🪝 **Webhook** (Entry Point)",
        "height": 176,
        "width": 336,
        "color": "#0F172A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -640
      ],
      "typeVersion": 1,
      "id": "be34e576-a55a-4bc9-af45-e22323af1a91",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Create Sheets Row",
        "height": 224,
        "width": 336,
        "color": "#0284C7"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -880
      ],
      "typeVersion": 1,
      "id": "8d03e694-4bf8-435a-b37e-27e172b289ac",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Seperate Sensitive Data",
        "height": 224,
        "width": 336,
        "color": "#0D9488"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -880
      ],
      "typeVersion": 1,
      "id": "0f037d49-1cc5-4a62-baf8-6e98e18c4f50",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## AI Agent",
        "height": 224,
        "width": 544,
        "color": "#581C87"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -880
      ],
      "typeVersion": 1,
      "id": "541d070c-1abe-4d45-80a6-eb7832e9d70c",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Merge Data",
        "height": 96,
        "width": 336,
        "color": "#075985"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -880
      ],
      "typeVersion": 1,
      "id": "6fb1fae2-7020-4c40-a9b9-0e8549f81db4",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Remerge Sensitive Data",
        "height": 96,
        "width": 336,
        "color": "#A18007"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -880
      ],
      "typeVersion": 1,
      "id": "020b2b69-785f-4fbf-a85f-e5d577085b29",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Coordinate Response",
        "height": 224,
        "width": 336,
        "color": "#115E59"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        -880
      ],
      "typeVersion": 1,
      "id": "c1ff30fd-0146-4ef3-89b9-b2c67b917878",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Response",
        "height": 224,
        "width": 336,
        "color": "#991B1B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        -880
      ],
      "typeVersion": 1,
      "id": "5c5a21ea-519d-4cba-9aaf-00123d2f1ae9",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Update Sheets Row",
        "height": 224,
        "width": 336,
        "color": "#4F46E5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        -880
      ],
      "typeVersion": 1,
      "id": "533f8b92-d2a1-41b7-8272-2f859dffbe5a",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Update Client",
        "height": 224,
        "width": 336,
        "color": "#16A34A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        -880
      ],
      "typeVersion": 1,
      "id": "dae41c12-3ee9-4c97-b303-86c5a6fa26c9",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Details\n\n### - **Architecture:** Triage Execution Layer\n### - **Privacy:** GDPR Anonymized (Phase 3)\n### - **Triage:** Human-in-the-loop (Phase 8)\n### - **Version:** 1.0.4",
        "height": 176,
        "width": 336,
        "color": "#0F172A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -448
      ],
      "typeVersion": 1,
      "id": "f9801cad-6ac8-4b33-9114-9666735b6fb1",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## README\n### - [📘 **README.md**](https://github.com/gijs-hulsebos/n8n-automation/blob/main/Insurance-Demo/README.md)\n### - [⚙️ **SET-UP.md**](https://github.com/gijs-hulsebos/n8n-automation/blob/main/Insurance-Demo/Setup.md)\n\n",
        "height": 112,
        "width": 336,
        "color": "#1E293B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -256
      ],
      "typeVersion": 1,
      "id": "96cbf2d8-dced-425f-8d2a-a43d754781a8",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Set-up Guide\n\n### 1. 🔑 Credentials Configuration\n### * **Google OAuth2:** Connect your Google account. Ensure the `Gmail API` and `Google Sheets API` are enabled in the Google Cloud Console.\n### * **AI Providers:** Configure credentials for **Gemini** (Standard Model)\n### **OpenAI** (Fallback) . \n### * **Webhook Auth:** Update the `Header Auth` in the entry node to secure your production endpoint.\n\n### 2. 📊 Spreadsheet Preparation\n### * Create a Google Sheet.\n### * Ensure you have two specific tabs:\n###  - **Overview:** For claim tracking and status.\n###  - **Error Log:** For system bug reporting.\n\n### 3. 🤖 AI & Logic Triage\n### * **System Message:** Review the `AI Agent` node. The prompt is tuned for \"Senior Technical Insurance Adjusters\".\n### * **Thresholds:** The `Human Review?` node is set to trigger manual \n\n### 4. 📧 Communication Setup\n###* Update the `sendTo` fields in all Gmail nodes from `Approval` to your designated adjuster's email.\n### * Verify the `Manual Review` and `Human in the Loop` templates for branding consistency.\n\n### 5. 🚀 Deployment\n### * Set the workflow to **Active**.\n### * Send a test POST request to the Webhook.",
        "height": 928,
        "width": 336,
        "color": "#1E293B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -128
      ],
      "typeVersion": 1,
      "id": "081453ab-59a8-49f4-9143-2f066dc42771",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "  ",
        "height": 1472,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        -656
      ],
      "typeVersion": 1,
      "id": "ca784bab-b4de-4546-9d24-fc0410634d3a",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Webhook data\n",
        "height": 224,
        "width": 336,
        "color": "#1E3A8A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -880
      ],
      "typeVersion": 1,
      "id": "db3fdaa8-c279-40fe-8900-69e027aba107",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 336,
        "color": "#991B1B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        32
      ],
      "typeVersion": 1,
      "id": "18120e8a-4cf6-4fee-8ee6-7590c3ae5d65",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 336,
        "color": "#4F46E5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        32
      ],
      "typeVersion": 1,
      "id": "ac31718a-bfef-4939-be14-9282357130e5",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "",
        "height": 656,
        "width": 336,
        "color": "#16A34A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        -640
      ],
      "typeVersion": 1,
      "id": "726915cd-f7e4-4c93-b827-a83e80355e16",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Phase 1\n",
        "height": 96,
        "width": 336,
        "color": "#1E3A8A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        704
      ],
      "typeVersion": 1,
      "id": "2d1bde28-97fc-4bed-bc5f-82972cdb7d4b",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "## Phase 2\n",
        "height": 96,
        "width": 336,
        "color": "#0284C7"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        704
      ],
      "typeVersion": 1,
      "id": "97546d88-65e8-4049-9ffb-4d1e94b2ce9a",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "## Phase 3",
        "height": 96,
        "width": 336,
        "color": "#0D9488"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        704
      ],
      "typeVersion": 1,
      "id": "808ac41e-665a-4c44-be21-57a57ea0b57d",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "## Phase 4",
        "height": 96,
        "width": 544,
        "color": "#581C87"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        704
      ],
      "typeVersion": 1,
      "id": "bfe14d90-8f92-4988-9d2b-b2641ac41c52",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "## Phase 5",
        "height": 96,
        "width": 176,
        "color": "#075985"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        704
      ],
      "typeVersion": 1,
      "id": "398aeadd-21a4-41f5-bc9f-1a44c2044098",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "## Phase 6",
        "height": 96,
        "width": 166,
        "color": "#A17B00"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        704
      ],
      "typeVersion": 1,
      "id": "6e16fb31-79e3-41e5-9c25-573d85103683",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "## Phase 7",
        "height": 96,
        "width": 336,
        "color": "#115E59"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        704
      ],
      "typeVersion": 1,
      "id": "f735ea89-8324-4d41-92a5-1b48e79e9e91",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Phase 8",
        "height": 96,
        "width": 336,
        "color": "#991B1B"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        704
      ],
      "typeVersion": 1,
      "id": "eed53e51-be4c-40b8-9754-008f7711494a",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Phase 9",
        "height": 96,
        "width": 336,
        "color": "#4F46E5"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        704
      ],
      "typeVersion": 1,
      "id": "6d26e4ee-0f65-4c66-8a4c-59d3cb615fbf",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "## Phase 10",
        "height": 96,
        "width": 336,
        "color": "#16A34A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        704
      ],
      "typeVersion": 1,
      "id": "d539f31f-3a72-4201-9c11-53f99b88f2b4",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "content": "## Bug Report",
        "height": 112,
        "width": 336,
        "color": "#1F2937"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        -768
      ],
      "typeVersion": 1,
      "id": "39e82e44-b442-4d60-acfd-619a549ba74a",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "content": "",
        "height": 352,
        "width": 336,
        "color": "#1F2C37"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        336
      ],
      "typeVersion": 1,
      "id": "1d8aa6c5-908a-46a9-a0bd-4ca0282ca753",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg",
          "mode": "list",
          "cachedResultName": "Insurance Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 270940116,
          "mode": "list",
          "cachedResultName": "Error Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg/edit#gid=270940116"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "timestamp"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "policy_number",
              "displayName": "policy_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claim_id",
              "displayName": "claim_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_email",
              "displayName": "user_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_log",
              "displayName": "error_log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        352
      ],
      "id": "cb59dc19-bda3-4b04-b7ae-c6111dde78e8",
      "name": "Log Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aAfp3HJhI2j06ZGZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gijs@gijshulsebos.com",
        "subject": "Error in workflow with submission: \"\"",
        "emailType": "text",
        "message": "Error in workflow with submission: \"\" , contact the client manually.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        528
      ],
      "id": "f60bf5e6-dfd0-4aeb-a3f9-2ec34ba1b1f9",
      "name": "Inform Engineer",
      "webhookId": "d51babee-1a57-470d-b610-52a07edde952",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ha8zTBClT3z7aBDZ",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        608,
        496
      ],
      "id": "04cd8969-207c-4b36-a236-b4e946a9e440",
      "name": "Fallback Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        496
      ],
      "id": "703d342f-c6cd-4d4a-93cc-f21dd58958c1",
      "name": "Standard Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3694d48e-6702-410b-9353-f97a73311166",
              "name": "internal_tracking.timestamp",
              "value": "={{ $json.internal_tracking.timestamp }}",
              "type": "string"
            },
            {
              "id": "8545f58c-bb62-49c9-aeb9-3ad41e9a8ead",
              "name": "ai_agent_payload",
              "value": "={{ $json.ai_agent_payload }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        240
      ],
      "id": "5a0799d4-5d8c-4a4a-a0f2-08168f04c159",
      "name": "Agent Data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg",
          "mode": "list",
          "cachedResultName": "Insurance Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Overview",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bxIjX3-pc_isDFIqmKsy33unm1jD3to_4k90uqTWDVg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "claim_id": "='{{ $json.internal_tracking.claim_id.replace('=', '') }}",
            "policy_number": "={{ $json.pii_vault.policy_number.replace('=', '') }}",
            "user_email": "={{ $json.pii_vault.user_email.replace('=', '') }}",
            "approval": "waiting for approval"
          },
          "matchingColumns": [
            "timestamp"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "policy_number",
              "displayName": "policy_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "claim_id",
              "displayName": "claim_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_email",
              "displayName": "user_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency_level",
              "displayName": "urgency_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency_reasoning",
              "displayName": "urgency_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "technical_summary",
              "displayName": "technical_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "escalation_required",
              "displayName": "escalation_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "escalation_reasoning",
              "displayName": "escalation_reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approval",
              "displayName": "approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -48
      ],
      "id": "1a589445-435f-4d73-91a3-b86b6337ebc2",
      "name": "Create Row with New Submission",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aAfp3HJhI2j06ZGZ",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Phase 5B",
        "height": 96,
        "width": 176,
        "color": "#1F2937"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        704
      ],
      "typeVersion": 1,
      "id": "f0b1e6a7-b597-4c3f-b16f-3f6c4066b401",
      "name": "Sticky Note41"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61639266-05e7-4655-9e89-e73d441112e8",
              "leftValue": "={{ $json.output.application_status }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        160
      ],
      "id": "487908eb-23ae-472b-8b72-8a0a4c068262",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Application Rejection",
        "height": 112,
        "width": 336,
        "color": "#AC1138"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -768
      ],
      "typeVersion": 1,
      "id": "894f4e6f-fa28-4f06-a9ca-e6f883685226",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "",
        "height": 496,
        "width": 336,
        "color": "#AC0138"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        192
      ],
      "typeVersion": 1,
      "id": "032fac41-ebe9-453d-8f3e-69a66db4c0c1",
      "name": "Sticky Note43"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"completed\",\n  \"application_status\": {{ JSON.stringify($json.output.application_status) }},\n  \"application_status_reason\": {{ JSON.stringify($json.output.application_status_reason) }},\n  \"urgency_level\": {{ JSON.stringify($json.output.urgency_level) }},\n  \"confidence_score\": {{ JSON.stringify($json.output.confidence_score) }},\n  \"technical_summary\": {{ JSON.stringify($json.output.technical_summary) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        480
      ],
      "id": "3bdd88c6-c2a5-4f12-970d-14a1b50b1cc1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Insurance Demo').item.json.body.email }}",
        "subject": "=Claim  {{ $('Insurance Demo').item.json.body.policyNumber }} Rejected",
        "message": "=Hello, unfortunately your claim has been denied on the basis of:  {{ $('AI Agent').item.json.output.confidence_reasoning }}\n\nWe hope to get a succesful claim next time\n\nGreet, Insurance Demo team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1568,
        224
      ],
      "id": "f5611870-f965-41bd-becd-dc2a718e2846",
      "name": "Send a message",
      "webhookId": "aed1a8fe-3b8d-48a0-8bfd-0a19a8b4ee7a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ha8zTBClT3z7aBDZ",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Phase 6B",
        "height": 96,
        "width": 176,
        "color": "#AC1138"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        704
      ],
      "typeVersion": 1,
      "id": "c9a97230-a2ce-4c24-9ec4-8fd5d68300c0",
      "name": "Sticky Note44"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inform Engineer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insurance Demo": {
      "main": [
        [
          {
            "node": "Data Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Structure": {
      "main": [
        [
          {
            "node": "Create Row with New Submission",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GDPR": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add PII",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Review": {
      "main": [
        []
      ]
    },
    "Update Client": {
      "main": [
        []
      ]
    },
    "Update Website portal": {
      "main": [
        []
      ]
    },
    "Add PII": {
      "main": [
        [
          {
            "node": "Human Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human in the Loop Approval": {
      "main": [
        [
          {
            "node": "Approval Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Update": {
      "main": [
        [
          {
            "node": "Client Approval Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Review?": {
      "main": [
        [
          {
            "node": "Update Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Website portal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Manual Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Client1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Human in the Loop Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        []
      ]
    },
    "Fallback Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Standard Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Agent Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Row with New Submission": {
      "main": [
        [
          {
            "node": "GDPR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6429e49a-aeb6-4776-946f-20e4c7037b42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8082f186cf5c3e9c5f7a44f4f0df065c9f09c331da4d8150c9e6e173042692f"
  },
  "id": "zlazvUsgkm54PJnf",
  "tags": []
}